body{
  background-color:black;
  font-family:'Roboto condensed', sans-serif;
  color:white;
  text-align: center;
  font-size: 15px;
}
.header{
  display: flex;
  justify-content: center;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

  background-image:url('https://i.cubeupload.com/U6x9NZ.jpg');
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;

}
.controls{
  display: flex;
  justify-content: center;
  height:150px;
  width:50%;
}
.dlc-check {
  display:flex;
  flex-direction: row;
  justify-content: center;
  vertical-align:middle;
  margin-top:15px;
}
.dlc-check {
  display: flex;
  flex-direction: row;
  padding:5px;

  margin:10px;
}
.results-display{
  text-transform: uppercase;
  font-size: .8em;
  display:flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  overflow: hidden;
  height:300px;

}
.perk-display{
  margin:15px;
  box-sizing: border-box;

}
.icon-perk-choice{
  width:50px;
  height:50px;
  border:1px solid white;
  box-sizing: border-box;
}
.icon-perk-choice:hover{
  background-color: red;
}
.perk-choice-name-div{
  display:none;
}
.
